{% extends 'base-public.html' %}
{% load mezzanine_tags %}
{% block content %}
{% autoescape off %}

<div class="navbar navbar-logo-container">
  <div class="navbar-inner">
    <a class="brand" href="/">
      <img class="navbar-logo-full" src="{{STATIC_URL}}img/culination-logo-full.png" />
    </a>
  </div>
</div>

<div class="navbar" >
  <div class="navbar-inner">
    <a class="brand" href="/">
      <img class="navbar-logo" src="{{STATIC_URL}}img/culination-logo.png" />
    </a>
    <ul class="nav">
      <li>
        <div class="nav-title">Taste your potential</div>
      </li>
    </ul>
  </div>
</div>

<div class="row main">
  <div class="span4">
    
    <div class="press-block">
      {% editable page.press.release_copy page.press.release_link %}
      <div class="press-header primary">Press Release</div>
      
      <div class="press-piece-20">
        <a class="tertiary" href="{{page.press.release_link}}" target="_blank">
          <div>{{page.press.release_copy}}</div>
        </a>
      </div>
      {% endeditable %}
    </div>
    
    <div class="press-block">
      {% editable page.press.about_copy %}
      <div class="press-header primary">About</div>
      
      <div class="press-piece-20">{{page.press.about_copy}}</div>
      {% endeditable %}
      <div class="press-piece-20">
        <a class="btn btn-tertiary" href="https://vimeo.com/63546462" target="_blank">
          <div class="btn-icon">
            <div class="btn-icon-play"></div>
            <div class="btn-icon-text">Watch our Indiegogo video</div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="press-block">
      <div class="press-header primary">Contact</div>

      <div class="press-piece-20">
        <div>Culination co-founder and CEO, </div>
        <a class="tertiary" href="mailto:caen@culination.co?subject=Culination Press Inquiry">Caen Contee</a>
      </div>
    </div>
    
    <div class="press-block">
      <div class="press-header primary">Culination Links</div>
      {% with page.press.link_blocks.all as blocks  %}
      {% for b in blocks %}
      
      {% editable b.link_copy b.link_target %}
      <div class="press-piece-20">
        <a class="tertiary" href="{{b.link_target}}" target="_blank">{{b.link_copy}}</a>
      </div>
      {% endeditable %}
      
      {% endfor %}
      {% endwith %}
    </div>
    
    <div class="press-block">
      <div class="press-header primary">
        <div>Social Media Links</div>
      </div>
      
      <div class="press-social-media">
        <div class="press-social-media-icons">
          <a href="https://www.facebook.com/Culination" target="_blank"><img src="{{ STATIC_URL }}img/icons/facebook.png" /></a>
          <a href="https://twitter.com/Culinators" target="_blank"><img src="{{ STATIC_URL }}img/icons/twitter.png" /></a>
          <a href="https://plus.google.com/u/0/116572620328368189543/" target="_blank"><img src="{{ STATIC_URL }}img/icons/google-plus.png" /></a>
          <a href="http://pinterest.com/culination/" target="_blank"><img src="{{ STATIC_URL }}img/icons/pinterest.png" /></a>
        </div>
        
        <div class="press-social-media-actions">
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <div class="row">
              <a class="addthis_button_facebook_like" fb:like:href="https://www.facebook.com/Culination" fb:like:layout="button_count"></a>
            </div>
            <div class="row">
              <a class="addthis_button_twitter_follow_native" tw:screen_name="Culinators"></a> 
            </div>
            <div class="row">
              <a data-pin-do="buttonFollow" href="http://pinterest.com/culination/">Culination</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Pinterest Follow -->
    <script type="text/javascript">
    (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
    }(document));
    </script>
    
    {% if page.press.team_blocks  %}
    <div class="press-block">  
      <div class="press-header primary">Team</div>

      {% with page.press.team_blocks.all as blocks  %}
      {% for b in blocks %}
      
      {% editable b.name b.link b.title b.description %}
      <div class="press-piece-20">
        <a class="tertiary" href="{{b.link}}" target="_blank"><div>{{b.name}}</div></a>
        <div class="press-piece-5">{{b.title}}</div>
        <div class="press-piece-5">{{b.description}}</div>
      </div>
      {% endeditable %}
      
      {% endfor %}
      {% endwith %}
    </div>
    {% endif  %}
    
  </div>
  
  <div class="span4">
    
    {% if page.press.photo_link  %}
    <div class="press-block">
      {% editable page.press.photo page.press.photo_link %}
      <div class="press-header primary">Photos</div>
      
      <div class="press-piece-20">
        <a class="tertiary" href="{{page.press.photo_link}}" target="_blank">
        <div>
          <img src="{{MEDIA_URL}}{{page.press.photo}}" />
        </div>
        <div class="press-piece-20">Download a ZIP of all available images</div>
        </a>
      </div>
      {% endeditable %}
    </div>
    {% endif  %}
    
    {% if page.press.expert_copy  %}
    <div class="press-block">
    {% editable page.press.expert_copy %}
    <div class="press-header primary">
      <div>Our Taste Experts</div>
    </div>
    
    <div class="press-piece-20">{{page.press.expert_copy}}</div>
    {% endeditable %}
    </div>
    {% endif  %}
    
    {% if page.press.expert_blocks  %}
    {% with page.press.expert_blocks.all as blocks  %}
    {% for b in blocks %}
    
    {% editable b.name b.photo b.link b.city b.description %}
    <div class="press-block">
      <div class="press-piece-20 press-expert-image">
        <img src="{{MEDIA_URL}}{{b.photo}}" alt="Taste Expert {{b.name}}" />
      </div>
      
      <div class="press-expert-info">
        <a class="tertiary" href="{{b.link}}" target="_blank">{{b.name}}</a>
        <div>, {{b.city}}</div>
      </div>
    
      <div class="press-piece-5">{{b.description}}</div>
    </div>
    {% endeditable %}
    
    {% endfor %}
    {% endwith %}
    {% endif  %}
    
    
  </div>
  
  <div class="span4">
    
    {% if page.press.partner_blocks  %}
    <div class="press-header primary">Our Partners</div>
    
    
    {% with page.press.partner_blocks.all as blocks  %}
    {% for b in blocks %}
    <div class="press-piece-20 press-partners">
      {% editable b.name b.photo b.link %}
      <a href="{{b.link}}" target="_blank">
      <div class="press-partner-image">
        <img src="{{MEDIA_URL}}{{b.photo}}" alt="Partner {{b.name}}" />
      </div>
      </a>
      {% endeditable %}
    </div>
    {% endfor %}
    {% endwith %}
    
    
    {% endif  %}
    
    {% if page.press.testimonial_blocks  %}
    <div class="press-header primary">
      <div>Testimonials</div>
    </div>
    
    {% with page.press.testimonial_blocks.all as blocks  %}
    {% for b in blocks %}
    
    {% editable b.description %}
    <div class="press-piece-20">{{b.description}}</div>
    {% endeditable %}
    
    {% endfor %}
    {% endwith %}
    {% endif  %}
    
    {% if page.press.product_copy  %}
    {% editable page.press.product_copy %}
    <div class="press-header primary">
      <div>Product Specifications</div>
    </div>
    
    <div class="press-piece-20">{{page.press.product_copy}}</div>
    {% endeditable %}
    {% endif  %}
    
  </div>
  
  <div class="span12">
    <div class="press-block press-piece-20"> 
      <div class="press-company-copyright">&#169; Tutelage, Inc.</div>
    </div>
  </div>
  
</div>

{% endautoescape %}
{% endblock %}
