/* Splash Page */

.splash-background-image {
    height: 100%;
    background: url(../img/launchimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login-background.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login-background.png', sizingMethod='scale')";
}

.background-image-copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-family: 'MuseoSans300';
    font-size: 12px;
    font-weight: normal;
    color: $darkgray;
}

.company-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-family: 'MuseoSans300';
    font-size: 12px;
    font-weight: normal;
    color: $darkgray;
}

.splash-container {
    background-color: rgba(255, 255, 255, 0.8); 
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100%;
    width: 460px;
}

.logo {
    height: 155px;
}

.logo, .slogan, .splash-message, .splash-signup h3, .splash-signup-email  {
    margin-left: 20px !important;
}

.tagline {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    margin-left: 20px;
    height: 110px;
    font-family: 'MuseoSans300';
    font-size: 20px;
}

.slogan {
    margin-top: 40px;
    font-family: 'MuseoSans300';
}

.slogan div {
    margin: 0px;
    font-size: 26px;
    height: 26px;
}

.splash-signup:nth-child(3) {
    margin-left: 30px !important;
}

.splash-message {
    font-family: 'MuseoSans300';
    font-size: 18px;
    line-height: 24px;
}

.signup-thanks {
    font-family: 'MuseoSans300';
    font-size: 18px;
    line-height: 24px;
}

.splash-image {
    margin: 20px 0px 10px 40px;
}

.splash-image img {
    width: 100%;
}

.splash-signup-text {
    font-family: 'MuseoSans500';
    margin-top: 20px;
    font-size: 16px;
    height: 32px;
}

.splash-signup-form {
    margin: 0px;
}

.splash-signup-form .span4, .login-form .span4 {
    height: 30px;
    width: 218px;
    padding: 7px 20px 3px 20px;
}

.btn-indiegogo {
    margin: 40px 0px 20px 0px;
    padding: 14px 4px 14px 24px;
    width: 385px;
    border-radius: 5px;
    font-family: 'MuseoSans300';
    font-size: 27px;
    font-weight: normal;
}

.btn-indiegogo:hover {
    border-radius: 5px;
    font-family: 'MuseoSans300';
    font-size: 27px;
    font-weight: normal;
}

.splash-login {
    margin-top: 10px;
    margin-left: 40px;
}

.splash-login h3, .splash-login a {
    margin-left: 0px !important;
}

.social-media-sharing {
    margin: 20px 0px 10px -10px;
    height: 40px;
}

.social-media-sharing-text {
    margin: 5px 30px 0px 0px;
    font-size: 16px;
}

.social-media-sharing-icons {
    position: absolute;
    margin-top: 5px;
}

.sharing-thanks {
    font-family: 'MuseoSans300';
    font-size: 14px;
    color: $darkgray;
}

.splash-btn {
    vertical-align: top;
    margin-left: 20px;
    padding: 7px 20px 3px 20px;
    width: 47px;
    min-width: 57px;
    height: 30px;
    min-height: 30px;
    border-radius: 3px;
    font-family: 'MuseoSans300';
}

.splash-btn:hover {
    vertical-align: top;
    border-radius: 3px;
}

.splash-invite-btn {
    height: 28px;
    padding: 12px 20px 0px 20px;
}

.social-media-follow {
    position: absolute;
    bottom: 0;
    padding: 20px 0px 40px 20px;
}

.addthis_button_facebook_like {
    margin-top: 2px;
}

.addthis_button_twitter_follow_native {
    margin-left: 10px;
    width: 205px;
}

.private-login-errors {
    margin: 10px 0px 80px 0px;
    width: 260px;
}

.private-login-errors ul {
    padding-left: 20px;
    padding-right: 20px;
    width: 218px;
}